button {
  border: none;
  padding: 0.5em 1em;
  background-color: #00a28a;
  color: #gjh;
  cursor: pointer;
}
.lotto_container {
  position: relative;
  padding: 1em;
}
span {
  display: block;
  padding: 0.5em;
  margin: 0.1em;
  background-color: #b85a854;
  color: #fff;
  width: 1em;
  text-align: center;
  float: left;
}
